@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400,700);
body{

	background: black;
	color: white;
	text-align: center;
	font-family: "Lato", helvetica, sans-serif;


}

h1{

	margin-top: 200px;
	font-size: 2em;

}

ul{

 	

}

ul li{

	display: inline-block;
	margin: 100px 0 0 40px;



}

ul li a{


	padding: 10px 30px 10px 30px;
	color: black;
	text-decoration: none;
	background: white;
	-webkit-transition: .2s linear;
	-moz-transition: .2s linear;
	-o-transition: .2s linear;	
	transition: .2s linear;

}

ul li a:hover{

	color: orange;
	-webkit-transition: .2s linear;
	-moz-transition: .2s linear;
	-o-transition: .2s linear;	
	transition: .2s linear;
}

h3{

	margin-top: 250px;
	clear: both;
	font-size: .8em;
}







